*{
  margin: 0;
  padding: 0;
  font-family: century gothic;
}

/* styling the body */

body{
  background: #222222;
}

/* navbar and the header styling */

.navbar{
  height: 70px;
}

.navbar nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 10px;
  padding: 16px;
  padding-top: 0px;
}

/* navigation buttons styling */

.navbar nav ul li{
  display: inline-block;
}


.navbar nav ul li a{
  text-decoration: none;
  padding: 5px 10px;
  color: black;
  font-size: 25px;
  transition: 0.5s ease;
  color: white;
}

/* hover effect on the navigation buttons */

.navbar nav ul li a:hover{
  background-color: white;
  color: black;
}

/* styling the search bar */

.search-d{
  display: flex;
  gap: 0px;
}

.search{
  width: 400px;
  background: transparent;
  outline: none;
  height: 40px;
  border: 1px solid white;
  text-align: center;
  color: white;
  font-size: 20px;
}

/* search bar button */

.search-btn{
  padding: 3px 10px;
  background: transparent;
  outline: none;
  border: 1px solid transparent;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 25px;
  transition: 0.4s ease;
}

/* hover effect on the search button */

.search-btn:hover{
  background-color: white;
  color: black;
  box-shadow: 4px 4px 0px rgba(255,255,255,0.4);
}

:root {
  --black: #000;
  --white: #fff;

  --text-primary: #fff;
  --text-secondary: grey;

  --bg-primary: #1c1b22;
  --bg-secondary: #2b2a33;

  --link: #58a6ff;
}

body {
  background-color: #222;
  color: #fff;
}

p {
  color: #fff; 
  line-height: 1.5; 
  text-align: justify; 
  letter-spacing: 1px; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
}
p2 {
  color: #fff; 
  line-height: 1.5; 
  text-align: center; 
  letter-spacing: 1px; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
}

a {
  text-decoration: none;
  transition: all ease-in-out 500ms;
}

.header {
  background-color: #333;
  margin: 15px;
  padding: 15px;
  border-radius: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333;
  font-size: 3rem;
  color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}


.foot{
  text-align: center;
  color: white;
  padding: 30px;
  padding-bottom: 5px;
}
