*{
    margin: 0;
    padding: 0;
    font-family: century gothic;
}

body{
    background: #222222;
    background-size: cover;
    background-position: center;
}


.navbar{
    height: 70px;
}

.navbar nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    padding: 16px;
}

.navbar nav ul li{
    display: inline-block;
}


.navbar nav ul li a, .contact a{
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    font-size: 25px;
    transition: 0.5s ease;
    color: white;
}

.navbar nav ul li a:hover{
    background-color: white;
    color: black;
}


.maincont a{
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    font-size: 25px;
    transition: 0.5s ease;
    color: white;
    border: 1px solid;
}

section a:hover{
    background-color: white;
    color: white;
    box-shadow: 4px 4px 0px rgba(255,255,255,0.4);
}

.search-d{
    display: flex;
    gap: 0px;
}

.search{
    width: 400px;
    background: transparent;
    outline: none;
    height: 40px;
    border: 1px solid white;
    text-align: center;
    color: white;
    font-size: 20px;
}
.search-btn{
    padding: 3px 10px;
    background: transparent;
    outline: none;
    border: 1px solid transparent;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 25px;
    transition: 0.4s ease;
}

.search-btn:hover{
    background-color: white;
    color: black;
    box-shadow: 4px 4px 0px rgba(255,255,255,0.4);
}

.maincont{
    display: flex;
    align-items: first baseline;
    justify-content: center;
    padding-bottom: 90px;
}

.main-table{
    margin-top: 20px;
    width: 1500px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-table tr td{
    padding: 0px 10px 10px 0px;
}

.frow h1{
    color: white;
    font-size: 70px;
    margin: 0px 0px 40px 0px;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: first baseline;
    flex-direction: column;
    padding: 0px 0px 10px 0px; 
    transition: 0.4s ease;
    width: 250px;
    height: 470px;
    border: 1px solid grey;
    text-align: center;
    transition: 0.4s ease;
}

.main-content:hover{
    transform: scale(1.05);
}

.main-content:hover{
    box-shadow: 4px 4px 4px  rgba(0,0,0,0.4);
}

.main-content img{
    margin-bottom: 15px;
}

.main-content p{
    color: white;
    margin-bottom: 15px;
    padding: 0px 10px;
}

.main-content a{
    border: 1px solid white;
    padding: 5px 10px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.main-content a:hover{
    color: black;
}

.filter-sel select{
    background: transparent;
    color: white;
    border: 1px solid grey;
    padding: 5px 10px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    margin-bottom: 40px;
}

.filter-sel select option{
    color: black;
}

.subimg{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 230px;
    margin-bottom: 10px;
}

.subimg img{
    margin: 0px;
}

.subimg-btn{
    border: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.foot{
    text-align: center;
    color: white;
    padding: 30px;
    padding-bottom: 5px;
}
